<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Akdeniz Üniversitesi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/anasayfa1">Ana Sayfa <span class="sr-only" > ('current')</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/uyari">Sınavlar <span class="sr-only" > ('current')</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="OturumuKapat()">Çıkış Yap <span class="sr-only" > ('current')</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron bg-dark text-white">
  <h1 class="display-4">Akdeniz Üniversitesi</h1>
  <p class="lead">Sınav Sistemine Öğrenci Olarak Giriş Yaptınız </p>
<div class="container mt-5">
   <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header text-dark" >  
          <h5>Soru hazırlama modülü</h5>
        </div>
        <div class="card-body text-dark">
          <img src="assets/soru_hazirlama_modulu.jpg" class="img-fluid">
        <p>Soru hazırlama yetkisi olan kullanıcıların (öğretim üyeleri, öğretim görevlileri, okutmanlar vb.) soru hazırlamasına katkıda bulunacak yönlendirici öğeler içerir. Bu modül 3 farklı soru türüne (basit, ilişkili ve entegre) izin verir. Sınırsız sayıda soru barındırabilir. Modül tarafından depolanan sorular bir ID ile veri tabanında kriptolu olarak saklanmaktadır. Gerektiğinde bir anahtar sözcük kullanılarak depolanmış bir soruya kolaylıkla ulaşılabilir.
          Başlıca soru özellikleri:</p>
          
          <p>Bilişsel düzey, kabul edilebilirlik indeksi, cevaplama süresi, geçerlilik tarihleri, öğrenim hedefleriyle ilişkisi, çıkabildiği sınav türleri</p>

         <p> Her platformda çalışabilen bu modülde kaydedilmiş olan sorular yetkilendirilmiş ve görevlendirilmiş bir kişi/kurul tarafından akran değerlendirilmesinden geçer. Teknik denetimden geçen ve onay alan sorular sınavlarda çıkabilir hale gelir. Denetlemede sorunların görülmesi halinde ise soruyu hazırlayan kullanıcıya sorunu açıklayan ve çözüm önerileri içeren bir e-posta gönderilir.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header text-dark">  
          <h5>Sınav soru planlama modülü</h5>
        </div>
        <div class="card-body text-dark">
          <img src="assets/sinav_planlama_modulu.png" class="img-fluid">
          <p>Sınav otomasyon sisteminde sınav oluşturma yetkisi sadece yönetim tarafından belirlenen sınav oluşturma görevlilerine (dönem koordinatörleri, sınav koordinatörleri, ders kurulu başkanları, sınav görevlileri vb.) verilmiştir. Bu görevliler tarafından yaklaşan sınav takvimine uygun olarak</p>
            <p>-Ders </p>
            <p>-Staj veya</p>
            <p>-Ders kurulu</p>

            <p>sınavlarının planları oluşturularak yapılacak sınavla ilgili ön hazırlıklar başlatılır.</p>
  
           <p> Öğretim üyelerine ve soru kontrol görevlilerine sistem üzerinden eksikliklere yönelik uyarı e-postaları gönderilir.

            Sınav hazırlama aşamasında sorular çeşitli algoritmalarla sistem tarafından otomatik olarak seçilir. Sorular çeşitli parametrelere göre (ders saati, öğrenim hedefi, kredi, zorluk derecesi, kabul edilebilirlik indeksi, favori soru veya anahtar kelimeler) filtrelenir. Filtreleme sonucunda seçilen sorular listeye eklenir. Soru seçimi toplam sınav soru sayısına ulaşana kadar devam eder. Sistem tarafından soru seçimi yapıldıktan sonra ilgili öğretim üyelerine sınavda çıkacak soruları ile ilgili bilgilendirme e-postası gönderilir.</p>
          </div>      
      </div>
      
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header text-dark">  
          <h5>Sınav modülü</h5>
        </div>
        <div class="card-body text-dark">
          <img src="assets/sinav_modulu.png" class="img-fluid">
          <p>Sınav modülünde ilk süreç sınav kitapçıklarının hazırlanmasıdır. Sınav için planlanan soru sayısına ulaşıldıktan sonra seçilen sorular sınav görevlileri tarafından incelenir. Sınavda çıkacak sorular onaylandıktan sonra kitapçık hazırlık süreci başlar. İstenilen çeşitte ve sınırsız sayıda kitapçık oluşturulabilir. Bu kitapçıklarla birden fazla oturumda ve farklı şubelerde sınav yapılabilir. Her soru kitapçığı için cevap anahtarları sistem tarafından hazırlanır. Hazırlanan bu kitapçıklara göre 5 farklı</p>
            <p>-Dönem içi</p>
            <p>-Final</p>
            <p>-Bütünleme</p>
            <p>-Hazır bulunurluk</p>
            <p>-Gelişim</p>

            <p>sınav yapılabilir. Her bir kitapçıktaki soruların ve seçeneklerin yerleri sistem tarafından otomatik olarak harmanlanabilir. Klasik (sınavı kitapçığı basılı), elektronik (bilgisayar laboratuvarları veya sınav merkezlerinde) veya tüm güvenlik önlemleri düşünülmüş uzaktan (online) sınav yapabilme seçenekleri sunar.</p>
  
           <p> Öğretim üyelerine ve soru kontrol görevlilerine sistem üzerinden eksikliklere yönelik uyarı e-postaları gönderilir.

            Sınav otomasyon sistemi probleme dayalı öğrenim (PDÖ) sınavlarıyla da tam uyumludur.</p>
          </div>
      </div>
    </div>
  </div>
</div>